.Main {
	background-image: url(./assets/signup6.jpg);
	background-size: cover;
	min-height: 690px;
  padding-top: 32px;
}

.jumbotron{
  margin-bottom: 0px;
  background-image: url(./assets/home3.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: honeydew;
  text-shadow: black 0.2em 0.2em 0.2em;
  min-height: 690px;
}
